body{
    background-color: #c9d6ff;
    text-align: center;
    margin: 0px;
}
h1{
    text-align: center;
    color: rgb(66, 66, 228);
    background-color: rgb(192, 197, 223);
    text-transform: uppercase;
    border: 2px solid red;
}

nav{
    background-color: #1b3039;
    height: 85px;
    margin: 0px;
    border: 1px solid red;

}

#pru{
    border: 2px dotted gold
}

#si{
    border: 2px dashed gray;
}

ul{
    list-style-type: none;
}

textarea{
    min-height: 36px;
    width: 250px;
    resize: none;
}