*{
    box-sizing: border-box;
}

body{
    background: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 1100px;
    background:lightgreen;
    margin: auto;
    display: block;
    position: relative;
    top: 50px;
}

nav{
    background: rgb(68, 64, 64);
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px;
    color: white;
    
}

/* IZQUIERDA */
.fixed-sidebar{
    background: grey;
    width: 90px;
    height: 300px;
    border:solid 4px black ;
    text-align: center;
    border-top-right-radius: 8%;
    border-bottom-right-radius: 8% ;
    float: left;
    display: block;
    position: fixed;
    top: 300px;
    left: 2px;
}

ul{
    list-style-type: none;
    margin: 0px;
    display:inline;
    text-align: center;
}

/* FIN-IZQUIERDA */

/* IMAGEN */
#li1{
    border: 2px solid;
    width: 440px;
    background: white;
    text-align: center;
    border-radius: 5%;
    margin: auto;
    margin-top: 10px
}

#li2 {
    border: 2px solid;
    width: 440px;
    background: white;
    text-align: center;
    border-radius: 5%;
    margin: auto;
    margin-top: 10px
}

#li3 {
    border: 2px solid;
    width: 440px;
    background: white;
    text-align: center;
    border-radius: 5%;
    margin: auto;
    margin-top: 10px;
}


#li4 {
    border: 2px solid;
    width: 440px;
    background: white;
    text-align: center;
    border-radius: 5%;
    margin: auto;
    margin-top: 10px
}
#li4 img{
    margin: 20px;
}

#li3 img{
    margin: 20px;
}

#li2 img{
    margin: 20px;
}

#li1 img{
    margin: 20px;
}
/* FIN-TABLA */