body {
    margin: 0;
    background-image:url(/Proyecto/imagenes/ficticius.jpg);
}

header{
    background: linear-gradient(to right, #8c87c4, rgb(14, 45,65 ));
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px 5%;
    position:sticky;
    top: 0;
    z-index: 1;
}
/* Nav */
.Imagen1 img{
    border-radius: 75%;
    height: 74px;
    width: 80px;
    cursor: pointer;
    transition: all 0.35s;
}
.Imagen1 img:hover{  
    transform: scale(1.2);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0px 70px ;
    font-size: 105%;
}

header nav ul li:hover{
    transform: scale(1.6);
}

header nav ul li a:visited{
    color: red;   
}

header nav ul li a:hover{
    color: black;
}

header nav ul li a{
    color: rgb(207, 167, 93);
    text-decoration: none;
    transition: all 0.84s;
}

header button{
    transition: all 0.4s;
    background: rgb(78, 76, 76);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s;

}

header button:hover{
    background-color: blue;
    transform: scale(1.1);
}

header button a{
    text-decoration: none;
    color:red;
}

header button a:hover{
    color: rgb(207, 167, 93);
    transform: scale(1.1);
}

/* Fin */

aside {
    height: 875px;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid black;
}

/* Aside-Izquierdo */

#aside-izquierdo {
    background-color: orange;
    float: left;
    width: 13%;
}
#aside-izquierdo h3{
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 5px;
    margin-bottom: 10px;

}
#aside-izquierdo p{
    margin-left: 5px;
}

.Viceversa{
    color: red;
    margin-top: 50px;
}
figure {
    margin: 0; 
}

figcaption {
    text-align: left; 
}

#Spotify{
    width: 200px;
    height: 180px;
    margin-left: 5px;
}

#Fortnite{
    width: 220px;
    height: 200px;
}
/* FIN - Aside-Izquierdo */

/* Aside-Derecho*/
#aside-derecho {
    background-color: rgb(117, 18, 18);
    float: right;
    width: 13%;
}

.Cabeza{
    margin-top: 40px;
    text-align: center;
}

#segundo{
    margin: 0;
}
#cesped{
    text-align: right;
}
#Yotube{
    color: aqua;
    text-decoration: none;
    margin-left: 97px;
}

.roto4{
    width: 80px;
    height: 70px;
    display: block;
    margin-left: 75px;
    margin-top: 30px;
    margin-bottom: 40px;
}

#Parrafo3{
    margin-top: 50px;
    font-size: 18px;
    text-align: center;
}

#Parrafo-Derecho{
    color: white;
    text-align: center;
}
main{
    margin: 0 20%;
    padding: 20px;
    background-image:url(/Proyecto/imagenes/mick.jpg);
}

h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    color: wheat;
}

section.columnas{
    float: left;
    padding: 10px;
    box-sizing: border-box;
    column-count: 3;
    margin-top: 50px;

}

section.columnas p{
    break-after: column;
    line-height: 33px;
    color: black;
    font-size: 18px;    
}

/* Encabezadores */
.tiempo{
    text-align: center;
    color: rgb(231, 167, 46);
}
/* Fin-Encabezadores */


footer{
    margin-top: 756px;
    background: red;
    height: 70px;
    text-align: center;
    color: white;
}

